spring:
  application:
    name: auth-service
  config:
    import: optional:configserver:http://localhost:8888
  profiles:
    active: dev
eureka:
  client:
    service-url:
      default-zone: http://loclhost:8761/eureka/
logging:
  level:
    org:
      springframework:
        security: trace