spring:
  application:
    name: inventory-service
  config:
    import: optional:configserver:http://localhost:8888
  profiles:
    active: dev
  jpa:
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Kolkata
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
server:
  port: 8085

